# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment directory
.env
.conda/

# Data files
data/*.csv
data/raw/MachineLearningRating_v3.txt
data/processed/cleaned_task1_insurance_data.csv
data/processed/cleaned_task3_MachineLearningRating.csv

# Other temporary files
.log
.tmp